body {
    background-color: rgb(35, 26, 43);
}
.title {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    color: pink;
    background-color: rgb(21, 26, 26);
    margin-bottom: 1%;
}
.filler {
    color: aquamarine;
    text-align: left;
}
.fempack {
    text-align: left;
    color: aquamarine;
}
.bottom-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(63, 60, 60);
}