body {
    background-color: black;
}
.title {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    color: pink;
    background-color: rgb(21, 26, 26);
    border-width: 5px;
    border-color: rgb(59, 59, 59);
    margin-bottom: 4%;
}
.filler {
    color: aquamarine;
    text-align: left;
}
.fempack {
    text-align: left;
    color: aquamarine;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}