html {
    background-color: rgb(35, 26, 43);
}
.title {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgb(255, 215, 250);
    background-color: rgb(20, 20, 20);
    margin-bottom: 1%;
}
.bottom-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(63, 60, 60);
    color: rgb(255, 215, 250);
    text-align: left;
}